body {
  background-image: url("https://media.istockphoto.com/id/817026938/es/foto/sevilla-espa%C3%B1a-el-r%C3%ADo-guadalquivir-y-torre-del-oro.jpg?s=612x612&w=0&k=20&c=CfI1_fMtreAnWbJdcJZT0mTRTc4NtzmiU4pH05rKHog=");
  background-repeat: no-repeat;
  background-size: cover;
}
img {
    width: 100%;
}
  /* Título */
.titulo {
  text-align: center;
  padding: 50px;
}
.todo {
    display: flex;
    flex-wrap: wrap;
    padding: 0 3px;
    justify-content: center;
}

.column {
    flex: 25%;
    max-width: 23%;
    padding: 0 4px;
    
  }

  .column img {
    margin-top: 8px;
    vertical-align: middle;
  }
  
  /* Esto hace que cuando el dispositivo sea de 800 px o menos haya 2 columnas de imágenes en lugar de 3 */
  @media (max-width: 800px) {
    .column {
      flex: 50%;
      max-width: 48%;
    }
  }
  
  /* Esto hace que cuando el dispositivo sea de 600 px o menos haya 1 columna de imágenes en lugar de 2 */
  @media (max-width: 600px) {
    .column {
      flex: 100%;
      max-width: 100%;
    }
  }


